{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css">
  *{
    font-family: 'Open Sans', sans-serif;
  }
</style>
</head>
<body>

<div class="container">
<h2>Shangyup Kim</h2>
<img src="{% static 'flag.png' %}">
<li>Email: <a href="mailto:kmn1120@naver.com">kmn1120@naver.com</a></li>
<li>Tel: +82 10 4580 4121</li>
<li>Github: <a target="_blank" href="https://github.com/kimshangyup/">https://github.com/kimshangyup/</a></li>
<li>Linkedin : <a target="_blank"  href="https://www.linkedin.com/in/shangyup-kim-010b21112/">https://www.linkedin.com/in/shangyup-kim-010b21112/</a></li>

<h4>Summary</h4>


<h4>Technical Skills</h4>
<li>Languages : C++, Python, SQL, HTML, CSS, javascript, jQuery</li>
<li>Framework: Django, Crosswalk, AngularJS, Ionic</li>
<li>DB: MySQL</li>

<h4>Education</h4>
<li>Seoul National University (Seoul, South Korea) - Summa Cum Laude</li>
<ul>
  <li>Business administration, B. S. (GPA 4/4.3)      March 2011 - June 2017</li>
  <li>Entrepreneurship, B. S. (GPA 4.11/4.3)      July 2014 - June 2017</li>
</ul>
<li>Shanghai Jiao Tong University (Shanghai, China)   September 2015 - January 2016</li>
<ul>
<li>2015 Fall semester exchange student</li>
</ul>

<h4>Work Experience</h4>
<table class="table table-hover">
<tr>
<td><a target="_blank" href="http://springcamp.co">Spring Camp (Venture Capital)</a></td>
<td>Associate</td>
<td>February 2017 - Present</td>
</tr>
<tr>
<td><a target="_blank" href="https://seoulprice.com">Seoulprice (start-up)</a></td>
<td>CEO &amp; CTO</td>
<td>March 2016 - January 2017</td>
</tr>
<tr>
<td><a target="_blank" href="https://educast.pro">Educast (start-up)</a></td>
<td>Front-end developer</td>
<td>January 2016 - February 2016</td>
</tr>
<tr>
<td><a target="_blank" href="http://getaim.co">AIM (start-up)</a></td>
<td>Front-end developer</td>
<td>July 2015 - August 2015</td>
</tr>
<tr>
<td><a target="_blank" href="http://ect.snu.ac.kr">SNU Entrepreneurship Center</a></td>
<td>RA</td>
<td>April 2015 - June 2015</td>
</tr>
<tr>
<td>Logistics assistant (ROK Army)</td>
<td>Sergeant</td>
<td>October 2012 - July 2014</td>
</tr>
<tr>
<td>Education Vision Agency (start-up)</td>
<td>CEO</td>
<td>September 2012 - November 2013</td>
</tr>
<tr>
<td>Boston Consulting Group</td>
<td>Intern</td>
<td>July 2012 - August 2012</td>
</tr>
</table>

<h4>Project &amp; Leadership</h4>
<table class="table table-hover">
<tr>
<td><a target="_blank" href="http://entrepreneurship.snu.ac.kr/">Entrepreneurship major</a></td>
<td>Student President</td>
<td>September 2014 - June 2015</td>
</tr>
<tr>
<td><a target="_blank"  href="http://p-rogramming.net/">P.rogramming</a></td>
<td>co-Founder</td>
<td>December 2014 -</td>
</tr>
<tr>
<td>Standing Steak</td>
<td>co-Founder</td>
<td>April 2015</td>
</tr>
<tr>
<td>Imagine better Society</td>
<td>Academic leader</td>
<td>April 2011 - July 2012</td>
</tr>
<tr>
<td>Enactus Shanghai Jiao Tong</td>
<td>Team member</td>
<td>September 2015 - January 2016</td>
</tr>
<tr>
<td>Entrepreneurship in Silicon Valley</td>
<td>TF</td>
<td>February 2015</td>
</tr>
</table>

<h4>Outsourcing project</h4>
<table class="table table-hover">
  <tr>
    <td>Enactus Songilbus</td>
    <td></td>
  </tr>
  <tr>
    <td>Chinese first-class tour guide (service closed)</td>
    <td></td>
  </tr>
  <tr>
    <td><a target="_blank" href="http://snuventure.com">SNU Venture community</a></td>
    <td></td>
  </tr>
  <tr>
    <td><a target="_blank" href="http://thehwaesik.com">Thehwaesik web service</a></td>
    <td></td>
  </tr>
  <tr>
    <td>Itzbook (start-up)</td>
    <td>September 2015 - December 2015</td>
  </tr>
</table>


<h4>Volunteer Activity</h4>
<table class="table table-hover">
  <tr>
    <td>Education Donation Expo</td>
    <td>Consulting team leader</td>
    <td>September 2014</td>
  </tr>
  <tr>
    <td>Global Mentoring, Osaka</td>
    <td>Team member</td>
    <td>July 2014</td>
  </tr>
  <tr>
    <td>Famine education (supported by World Vision)</td>
    <td>Volunteer</td>
    <td>April 2012</td>
  </tr>
</table>

<h4>Awards &amp; Certifications</h4>
<li>Microsoft Office Specialist (Excel, Word, Powerpoint)</li>
<li>Minister Award from Ministry of ICT and future planning</li>


</div>

</body>
</html>