{% load staticfiles %}
<html>
<head>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.container{
  text-align:center;
  padding-top:40px;
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Nanum Myeongjo', serif;
}
img{
    width:100%;
}
p{
  margin-top:40px;
  margin-bottom:40px;
  font-size:16px;
  line-height:180%;
}
</style>
</head>
<body>
<div class="container">
<h1>찌질하지만 좋아해</h1>
<p>고백할게</p>

<hr>
<p>
9
</p>
<img src="{% static 'tangerine.jpeg' %}">
<p>
  어느 새 시간은 흘러 <br>
  윤지는 기말고사를 위해 <br>
  학교로 돌아갔다
</p>
<p>
그때는 생각이 정말 많이 났다<br><br>

한라봉 먹을때 생각나고<br>
귤을 보면 생각나고<br>
제주음식점 지날때 생각나고<br>
갈색 코트볼때<br>
녹차라떼 마실때<br>
염색한 머리를 볼때<br>
페이스북 볼때<br>
네이버 볼때<br>
<br>
생각이 났다
</p>
<img src="{% static 'mak2.JPG' %}">
<p>
그녀가 남자친구가 생겼다고 했을 때<br>
나는 사랑은 타이밍이라는 말을<br>
뼈저리게 느꼈고<br>
일이 손에 통 잡히질 않았다<br>
<br>
그녀에겐 일이 힘들고<br>
사업이 안풀려서 힘들다고 했지만 <br>
사실은 너때문에 <br>
힘든 거였다
</p>

<p>
그래도 고백을 해볼까 싶어<br>
친한 친구에게 조언을 구했지만<br>
친구 정 모씨는 1인기업 되고 싶냐고 뜯어 말렸다
</p>
<p>
  그리고 우연히 술자리에서 <br>
  헤어졌다는 사실을 알았을 때
  너무 기분이 좋고 <br>
  언제 고백할 지 타이밍만 기다렸다<br>
  근데 차이면 어떡하지?...
</p>
<p>
<a href="/yoonzi4">
  다음 화에 계속
  <br>
  To be Continued...
</a>
</p>
<p>
<a href="/yoonzi2">이전 화 보기</a>
</p>


</div>

</body>
</html>