{% load staticfiles %}
<html>
<head>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.container{
  text-align:center;
  padding-top:40px;
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Nanum Myeongjo', serif;
}
img{
    width:100%;
}
p{
  margin-top:40px;
  margin-bottom:40px;
  font-size:16px;
  line-height:180%;
}
</style>
</head>
<body>
<div class="container">
<h1>뭐야 이건</h1>
<p>번외편. 제작기</p>

<hr>
<p>
기획자의 변
</p>
<img src="{% static 'plan.jpeg' %}">
<p>
  기획, 연출, 시나리오, 조명, 의상, 사진, 배우, 투자 및 디자인과 개발을 맡은 김상엽입니다. <br><br>
  저에게 이번 프리퀄 5부작이란 봄 같은 존재죠. <br> 새로운 싹이 트고 모든 것이 피어나는 봄 말이에요. <br>
  시간이 지나며 뜨거운 여름이 오고,<br> 추운 겨울도 오겠지만 봄을 간직한 우리에게<br>
  봄은 계속 올거에요. 사랑합니다
</p>
<p>그 외 짤</p>
<img src="{% static 'yoonziat.jpeg' %}">
<img src="{% static 'yupat.jpeg' %}">
<p>
  같은 장소에서
</p>

<img src="{% static 'jj.png' %}">
<p>
  같이 있고 싶은 마음을 담아<br>
  포. 토. 샵.
</p>

<img src="{% static 'body.png' %}">
<p>
  보디가드 상엽
</p>

<!--<p>
<a href="/yoonzi2">
  다음 화에 계속
  <br>
  To be Continued...
</a>
</p>-->
<p>
<a href="/yoonzi4">이전 화 보기</a>
</p>


</div>

</body>
</html>