{% load staticfiles %}
<html>
<head>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.container{
  text-align:center;
  padding-top:40px;
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Nanum Myeongjo', serif;
}
img{
    width:100%;
}
p{
  margin-top:40px;
  margin-bottom:40px;
  font-size:16px;
  line-height:180%;
}
</style>
</head>
<body>
<div class="container">
<h1>내사랑 고윤지</h1>
<p>세상에서 제일 아름다운 내 여자친구의 생일을 기념하며</p>

<hr>
<p>
*
</p>
<p>
1월 27일은 윤지의 생일이다.<br>
연애하기 전부터 나는 <br>
무슨 선물을 해주면 좋을까 고민했었다.
</p>
<p>
더군다나 제주도에 가있는 윤지에게<br>
1년 중 특별한 두 날 중 하나인 생일을<br>
기념하기 위해 윤지가 좋아했던 것들을 떠올렸다.
</p>
<p>
  1
</p>
<p>
  그녀는<br><br>
  사진을 좋아하고,<br>
  여행을 좋아한다<br>
  <br>
  글을 좋아하고,<br>
  나를 좋아한다.<br>
  (아마도?)
</p>
<p>
  그래서 <strong>나</strong>와 만나온 시간을 <br>
  <strong>여행</strong>하는 느낌의<br>
  <strong>사진</strong>과 <strong>글</strong>을 쓰기로 했다.
</p>
<p>
  2
</p>
<p>
  시작
</p>
<img src="{% static 'firstglance.jpeg' %}">
<p>
  윤지를 처음 본 순간<br>
  남자라면 누구나 느낄 만한 감정이 들었다<br><br>
  '예쁘다'
  <br><br>
  저런 예쁜 애랑 사귀면 얼마나 좋을까<br>
  (응 좋아~)<br>
</p>
<p>
  3
</p>
<p>그러던 어느 날 행운이 찾아왔다</p>
<p>군대에 가는 민종이를 보러<br> 신촌에서 만나는 날이었다.</p>
<p>
  민종이는 원영이와 13기 어떤 친구와 있다고 했다. <br>
  나는 (진짜 거짓말 안치고) 그 13기 애가<br>
  얼마 전에 본 사진 속의 주인공이었으면 했다
  <br><br>
  (그리고 그것이 실제로 일어났습니다)<br><br>
  <img src="{% static 'waffle.jpeg' %}">
</p>
<p>우리는 와플잇업에서 와플을 먹었다.<br>
  왠지 민종이와는 어색했고 <br>
  윤지가 마음에 들었다<br>
</p>
<p>
  어디 사는 지<br>
  나중에 뭘 하고 싶은지<br>
  민종이랑은 어떻게 아는 지 <br><br>
  남자친구는 있는 지<br>
  어떤 스타일을 좋아하는 지<br>
  어떻게 하면 다시 볼 수 있을 지 <br><br>
  궁금했다
</p>
<p>
  4
</p>
<p>
  그래서 터무니 없게도<br>
  한참 놀고 싶은 새내기에게 <br>
  같이 일할 생각 없냐고 물었다
</p>
<p>
<a href="/yoonzi1">
  다음 화에 계속
  <br>
  To be Continued...
</a>
</p>
</div>

</body>
</html>