{% load staticfiles %}
<html>
<head>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.container{
  text-align:center;
  padding-top:40px;
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Nanum Myeongjo', serif;
}
img{
    width:100%;
}
p{
  margin-top:40px;
  margin-bottom:40px;
  font-size:16px;
  line-height:180%;
}
</style>
</head>
<body>
<div class="container">
<h1>내가 널 사랑하는 이유</h1>
<p>5화. 왜 나는 너를 사랑하는가</p>

<hr>

<img src="{% static 'most.PNG' %}">
<p>상엽이 제일 좋아하는 사진</p>

<p>
  그 날 <br><br>
  한 정거장<br>
  두 정거장<br>
  버스는 속절없이 가고<br>
  술집 앞에서야 고백을 했다
</p>
<p>
  얘는 눈치가 전혀 없나 싶을 정도로<br>
  해맑게 올라가는 윤지를 잡고<br>
  좋아한다고 말했다
</p>
<p>
  사실 여기까지만 생각해서<br>
  그 다음 말은 되게 당황스러웠다<br>
  '그래서요?'<br>
  (솔직히 이때까지만 해도 차인줄)
</p>
<p>
  '어어...나랑 사귀자!'
  <br>
  <br>
  <br>
  <br>
  <br>
  ..좋아요
<br>
  <h6>좋아요</h6>
  <h5>좋아요</h5>
  <h4>좋아요</h4>
  <h3>좋아요</h3>
  <h2>좋아요</h2>
  <h1>좋아요</h1>
  <p>
  그렇게 우리는 커플이 되었다
  </p>
</p>
<hr>
<p>
  추신. <br>
  <strong>좋아해</strong>라는 말과 함께<br>
  하고 싶었던 말들
</p>
<p>
왜 나는 너를 사랑하는가 <br>
지금 내가 너가 보고싶고 너무 좋은 이유<br>
한마디로 하면 사랑스럽다
</p>

<img src="{% static 'yoonziat.jpeg' %}">
<p>
예쁘고<br>착하고<br>귀엽고<br>열심히 살고<br>생각도 깊고<br>
고민도 잘 들어주고<br>다시 예쁘고<br>맛있는 것도 잘 먹고<br>
옷도 잘 입고<br>운동도하고<br>예쁘고<br>귀엽기도 한데
</p>

<img src="{% static 'airport.jpeg' %}">
<p>
<strong>사랑스러운 것</strong>이 가장 크다<br>
중국말로 귀엽다를 可爱 한자를 직역하면<br> 사랑스럽다 라고 하는데<br>
내 생각에 귀여운 것과 사랑스러운 것은<br> 엄연히 다르다(단호)<br><br>
귀여운 것은 토끼이모티콘이나<br> 고양이도 귀엽잖아
</p>
<img src="{% static 'couple.jpeg' %}">
<p>
사랑스럽다는 것은<br>
가만 보고 있고 싶고<br>
보고 있으면 입꼬리가 올라가고<br>
엄빠미소가 지어지는 것<br>
정말 보고싶은 것
</p>
<img src="{% static 'mak.JPG' %}">
<p>
음 그리고<br>
말투도 귀엽다<br> 영화취향도 비슷한 것 같다<br> 성실하다<br>
배려심이 깊다<br> 자긴 아니라 그러지만 똑똑하다<br>
작은 것에 만족할 줄 아는 모습에 자꾸 챙겨주고 싶다<br>
배우려고 하는 마음에 자꾸 알려주고 싶다<br>
</p>

<h1>
사랑해
</h1>
<h4>
그리고 생일 축하해<br>
태어나 줘서 고마워<br><br>
상엽오빠가
</h4>

<p>
<a href="javascript:if(confirm('다음 회를 보시려면 결제하셔야 합니다. 결제하시겠습니까?')){alert('결제료: 윤지 마음');location.href='/yoonzi5'}else{alert('흥!')}">
  번외편 보기
</a>
</p>
<p>
<a href="/yoonzi3">이전 화 보기</a>
</p>


</div>

</body>
</html>