{% load staticfiles %}
<html>
<head>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.container{
  text-align:center;
  padding-top:40px;
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Nanum Myeongjo', serif;
}
img{
    width:100%;
}
p{
  margin-top:40px;
  margin-bottom:40px;
  font-size:16px;
  line-height:180%;
}
</style>
</head>
<body>
<div class="container">
<h1>짝사랑의 시작</h1>
<p>전지적 짝사랑 시점</p>

<hr>
<p>
7
</p>

<img src="{% static 'sh.jpg' %}">
<p>
그렇게 우리는<br> 회식을 하고<br>
밥을 함께 먹고<br>
집에 함께 갈 수 있었다
</p>
<img src="{% static 'kadoya.jpeg' %}">
<p>
사생팬의 도촬을 거부하는 윤지<br>
@카도야라멘
</p>
<p>
  8
</p>
<img src="{% static 'jeju.JPG' %}">
<p>
  제주소녀와 제주상회
  <br>
  이 날 제주상회 가는 걸 얼마나 기다렸는지<br>
  날은 너무 추웠지만<br><br>
  캠핑온 것 같은 분위기에 <br>
  비슷한 패딩을 입고 있던 게<br>
  마치 커플이라도 된 것 같아<br>
  무척 설렜다
</p>

<img src="{% static 'back.JPG' %}">
<p>
  소주 사진 찾는 술꾼 윤지<br>
  내 자리에 앉아 내 컴퓨터를 쓰는 <br>
  윤지의 모습은 너무나도 사랑스러웠다
</p>


<p>
<a href="/yoonzi3">
  다음 화에 계속
  <br>
  To be Continued...
</a>
</p>
<p>
<a href="/yoonzi1">이전 화 보기</a>
</p>


</div>

</body>
</html>