{% load staticfiles %}
<html>
<head>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.container{
  text-align:center;
  padding-top:40px;
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Nanum Myeongjo', serif;
}
img{
    width:100%;
}
p{
  margin-top:40px;
  margin-bottom:40px;
  font-size:16px;
  line-height:180%;
}
</style>
</head>
<body>
<div class="container">
<h1>내사랑 고서연</h1>
<p>2화. 마케팅개론 이대 서연이</p>

<hr>
<p>
*
</p>
<img src="{% static 'dark.jpeg' %}">
<p>
우리가 처음 만난 곳은 무려 <a href="https://seoulprice.com/sc/list/?q=%EB%8C%80%ED%8F%AC%EC%B0%9C%EB%8B%AD">대포찜닭</a>이다<br>
처음 밥먹는 수상한 남선배와의 <br>
밥약 장소로 아주 적절하다 <br> (by 에브리타임)<br>
</p>
<p>
  5
</p>
<img src="{% static 'first.jpeg' %}">
<p>
기분 좋아하는 나 (헤헿)<br>
평소에 입지도 않는 옷도 입고<br>
드라이도 하고 나갔다
</p>
<p>
  남자는 좋아하는 여자 앞에서 <br>
  찌질해지는 것 같다<br>
  잘보이려고 하다보면 <br>
  내 자신이 너무 노잼이다
</p>
<p>
  결국 그 날<br>
  윤지를 여자로 꼬시는데는 실패했다<br>
  하지만 사무실로 꼬시는데는 성공했다<br>
</p>
<p>
  6
</p>
<img src="{% static 'office.jpg' %}">
<p>
내가 일하고 싶은 사람과 <br>
일할 수 있다는 것은 <br>
고생길인 스타트업의 <br>
뚜렷한 장점 중 하나다
</p>
<p>
  윤지가 오기 전<br> 심심했던 사무실은 <br><br>
  윤지가 오고난 후<br>
</p>
<img src="{% static 'firstwork.jpeg' %}">
<p>
  밝아지고<br>
  즐거워지고<br>
  사랑스러워졌다
</p>
<p>
<a href="/yoonzi2">
  다음 화에 계속
  <br>
  To be Continued...
</a>
</p>
<p>
<a href="/yoonzi">이전 화 보기</a>
</p>


</div>

</body>
</html>