{% extends 'layout.html' %}
{% block body %}

<form action="" method="post">
    {% csrf_token %}
    
이메일: <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"><br>
비밀번호: <input type="password" name="password1" required="" id="id_password1"><br>
비밀번호 확인: <input type="password" name="password2" required="" id="id_password2"><br>
닉네임: <input type="text" name="nickname" required="" id="id_nickname"><br>
<input type="submit" />
    
</form>


{% endblock body %}