{% extends 'layout.html' %}

{% block head %}
<style>
div.left{
	width:70%;
	display:inline-block;
}
div.right{
	width:30%;
	display:inline-block;
	text-align:right;
}
.delete{
	color:red;
}
.gray{
	color:gray;
	font-size:12px;
}
</style>	
{% endblock head %}

{% block body %}	


<h4>{{ channel.title }}</h4>
<span class="right">
<a href="/blog/delete/{{ channel.id }}">그룹 삭제</a>
</span>
<br>
<div class="center">
<h4>Questions</h4>
</div>
{% for question in questions %}
<div class="panel panel-default" id="{{ question.id }}">
	<div class="panel-body">
		<div class="left">
		{{ question.text }}
		<br>
		<span class="gray">
			{{ question.created }}
		</span>
		</div>
		<div class="right">
			by 
			{% if question.is_anonymous %}
			anonymous
			{% else %}
			{{ question.author.profile }}
			{% endif %}
			<br>
			{% if request.user.is_staff or request.user == question.author %}
			<span class="delete">Delete</span>
			{% endif %}
		</div>
	</div>
</div>
{% empty %}


{% endfor %}


<input type="text" id="new_question" class="form-control" placeholder="# new text">	
<div id="send" class="btn btn-default">Send</div>
Anonymous <input type="checkbox" id="is_anonymous">


<script type="text/javascript">
$(document).ready(function(){
	$('#send').on('click', function(){
		create_question();
	})

	$('#new_question').on('keyup', function(e){
		if(e.keyCode==13){
			create_question();
		}
	})
	var validate_blank = function(){
		if($('#new_question').val() == ''){
			return false
		}
		else{
			return true
		}
	}
	var create_question = function(){
		if(validate_blank()){
		var is_anonymous;
		var new_question = $('#new_question').val();
		if($('#is_anonymous').prop('checked')){is_anonymous=1}else{is_anonymous=0};
		$.ajax({
			url:'/blog/write/',
			type:'POST',
			data:{
				new_question: new_question,
				channel_id: {{ channel.id }},
				is_anonymous: is_anonymous,
			},
			success:function(msg){
				var $question = "<div class='panel panel-default' id='"+msg.id+"'><div class='panel-body'><div class='left'>";
				$question += msg.text;
				$question += "</div><div class='right'>by ";
				$question += msg.author;
				$question += "<br><span class='delete'>Delete</span></div></div></div>"
				$('#new_question').before($question);
			},
			error:function(msg){
				console.log(msg);
			}
		})
		$('#new_question').val('');
		}
	}

	$(document).on('click', '.delete', function(e){
		var $this = $(this).parent().parent().parent();
		$.ajax({
			url:'/blog/remove/'+$this.attr('id')+'/',
			type:'POST',
			data:{
				
			},
			success:function(msg){
				$this.remove();
			},
			error:function(msg){
				console.log(msg);
			}
		})
	})
})
</script>
{% endblock body %}