{% extends 'layout.html' %}
{% load staticfiles %}
{% block head %}
<style>
div.left{
	width:70%;
	display:inline-block;
}
.panel-body>div.right{
	width:30%;
	display:inline-block;
	text-align:right;
}
.delete{
	color:red;
}
.gray{
	color:#bbb;
	font-size:11px;
}
.profile{
	border-radius:100%;
}
.circle{
	width:13px;
	height:13px;
	border-radius:100%;
	display:inline-block;
	margin-right:10px;
}
.left>.profile{
	width:30px;
	height:30px;
	margin-right:10px;
}
.on-left{
	margin-left:45px;
}
.panel-default{
	border:none;
	box-shadow:none;
	border-bottom:1px solid #ddd;
	border-radius:0px;
}
#new_question{
	width: 60%;
	display:inline-block;
	border:none;
	box-shadow:none;
	border-bottom:1px solid #ddd;
}
#send{
	width:80px;
}
#keyboard{
	position:fixed;
	width:100%;
	bottom:10px;
}
.button>a>img{
	width:20px;
	margin-right:15px;
}
</style>	
{% endblock head %}

{% block body %}	

<div class="row">
<h4><div class="circle {{ channel.color }}"></div>{{ channel.title }}</h4>
<p class="gray">
{{ channel.description }}	
</p>	
<div class="right button">
<a href="#"><img src="{% static 'share.svg' %}" alt=""></a>
<a href="/blog/delete/{{ channel.id }}"><img src="{% static 'exit.svg' %}" alt=""></a>
</div>	
<br><br>
<div class="center">
<h4>Questions</h4>
</div>
{% for question in questions %}
<div class="panel panel-default" id="{{ question.id }}">
	<div class="panel-body">
		<div class="left">
		<img src="{% if question.is_anonymous %}{% static 'no.jpg' %}{% else %}{{ question.author.profile.thumbnail.url }}{% endif %}" alt="" class="profile">
		{% if question.is_anonymous %}
		익명
		{% else %}
		{{ question.author.profile }}
		{% endif %}
		<br>
		<div class="on-left">
			{{ question.text }}
			<br>
			<span class="gray">
				{{ question.created }}
			</span>
			</div>
		</div>
		<div class="right">
			{% if request.user.is_staff or request.user == question.author %}
			<span class="delete">Delete</span>
			{% endif %}
		</div>
	</div>
</div>
{% empty %}


{% endfor %}

<div id="keyboard">
<input type="text" id="new_question" class="form-control" placeholder="# new text">	
<div id="send" class="btn btn-default">질문하기</div>
익명 <input type="checkbox" id="is_anonymous">
</div>

</div>


<script type="text/javascript">
$(document).ready(function(){
	$('#send').on('click', function(){
		create_question();
	})

	$('#new_question').on('keyup', function(e){
		if(e.keyCode==13){
			create_question();
		}
	})
	var validate_blank = function(){
		if($('#new_question').val() == ''){
			return false
		}
		else{
			return true
		}
	}
	var create_question = function(){
		if(validate_blank()){
		var is_anonymous;
		var new_question = $('#new_question').val();
		if($('#is_anonymous').prop('checked')){is_anonymous=1}else{is_anonymous=0};
		$.ajax({
			url:'/blog/write/',
			type:'POST',
			data:{
				new_question: new_question,
				channel_id: {{ channel.id }},
				is_anonymous: is_anonymous,
			},
			success:function(msg){
				var $question = "<div class='panel panel-default' id='"+msg.id+"'><div class='panel-body'><div class='left'><img src='/static/no.jpg' class='profile'>"
				$question += msg.author;
				$question += "<br><div class='on-left'>";
				$question += msg.text;
				$question += "<br><span class='gray'>";
				$question += msg.created;
				$question += "</span></div></div><div class='right'><span class='delete'>Delete</span></div></div>"
				$('.row').append($question);
			},
			error:function(msg){
				console.log(msg);
			}
		})
		$('#new_question').val('');
		}
	}

	$(document).on('click', '.delete', function(e){
		var $this = $(this).parent().parent().parent();
		$.ajax({
			url:'/blog/remove/'+$this.attr('id')+'/',
			type:'POST',
			data:{
				
			},
			success:function(msg){
				$this.remove();
			},
			error:function(msg){
				console.log(msg);
			}
		})
	})
})
</script>
{% endblock body %}